<h1>Eat Da Burger!</h1>

<div class="container">
    <div class="left-col">
        {{#each burgers}}
            {{#unless devoured}}
                <p>{{id}}. {{burger_name}}</p>
            {{/unless}}
        {{/each}}
    </div>

    <div class="right-col">
        {{#each burgers}}
            {{#if devoured}}
                <p>{{id}}. {{burger_name}}</p>
            {{/if}}
        {{/each}}
       
    </div>

</div>