/* 
===================================
Universal Styles
===================================
*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: rgb(236, 226, 129);
}

h1 {
    color: red;
    text-align: center;
}

img {
    max-height: 150px;
}

.container {
    width: 960px;
    margin: auto;
    text-align: center;
}

.left-col {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.right-col {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

p {
    padding: 10px;
    font-size: 18px;
}

.add-burger {
    margin-top: 50px;
}

.input {
    margin: 10px;
    padding: 10px;
}

#burger {
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    height: 50px;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
}

button:hover {
    cursor: pointer;
}

.eaten {
    color: grey;
}

label {
    font-size: 22px;
    font-weight: 700;
}